 body {
    background-color: pink;
 }

 @media only screen and (max-width:600px) {
    body{
        background-color: rgb(255, 122, 122);
    }
 }

 @media only screen and (max-width:400px){
    body{
        background-color: rgb(255, 81, 81);
    }
 }